In [1]:
import pandas as pd
import numpy as np

In [67]:
# Reads in the data from the csv file
df1103 = pd.read_csv('pm25_merged_dataset/df_1103.csv')
df1201 = pd.read_csv('pm25_merged_dataset/df_1201.csv')
df1103['datetime'] = pd.to_datetime(df1103['datetime'])
df1201['datetime'] = pd.to_datetime(df1201['datetime'])

In [20]:
df1103.describe()

,Unnamed: 0,AQS_Code,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement
count,65712.000000,65712.0,65712.000000,65712.000000,65712.000000,52332.000000,65712.000000,65712.000000,65712.000000
mean,65711.000000,1103.0,18.922900,0.428865,0.137238,55.775931,65.802707,0.024876,15.203386
std,37939.129563,0.0,12.180621,0.316351,0.278709,26.521060,9.259292,0.018636,10.879135
min,0.000000,1103.0,0.200000,-0.400000,-0.600000,1.000000,37.700000,0.000000,-6.000000
25%,32855.500000,1103.0,8.800000,0.200000,0.000000,32.000000,59.600000,0.007000,9.000000
50%,65711.000000,1103.0,16.000000,0.300000,0.000000,59.000000,66.800000,0.024000,13.000000
75%,98566.500000,1103.0,27.262500,0.511000,0.200000,80.000000,70.500000,0.038000,19.000000
max,131422.000000,1103.0,80.600000,3.400000,13.400000,100.000000,110.600000,0.185000,541.000000

In [21]:
df1201.describe()

,Unnamed: 0,AQS_Code,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement
count,65712.000000,65712.0,65712.000000,65712.000000,65712.000000,52332.000000,65712.000000,65712.000000,65712.000000
mean,65712.000000,1201.0,11.950138,0.426555,0.148405,55.779313,66.078211,0.033669,14.602232
std,37939.129563,0.0,9.604563,0.314977,0.290082,26.537391,10.755264,0.021195,10.656137
min,1.000000,1201.0,-4.800000,-0.300000,-0.500000,1.000000,33.800000,-0.001000,-3.700000
25%,32856.500000,1201.0,4.600000,0.200000,0.000000,32.000000,59.200000,0.017000,8.400000
50%,65712.000000,1201.0,8.500000,0.300000,0.000000,59.000000,67.000000,0.034000,12.900000
75%,98567.500000,1201.0,17.500000,0.506000,0.200000,80.000000,71.500000,0.046000,19.000000
max,131423.000000,1201.0,72.500000,2.900000,17.900000,100.000000,117.500000,0.142000,995.600000

# Removing the Negative Values

In [58]:
# Function to replace negative values with 0
def replace_negative_values(data):
    for column in data.columns:
        if column != 'datetime':
            data[column] = data[column].apply(lambda x: 0 if x < 0 else x)
    return data

In [68]:
df1103 = replace_negative_values(df1103)
df1201 = replace_negative_values(df1201)

In [24]:
df1103.describe()

,Unnamed: 0,AQS_Code,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement
count,65712.000000,65712.0,65712.000000,65712.000000,65712.000000,52332.000000,65712.000000,65712.000000,65712.000000
mean,65711.000000,1103.0,18.922900,0.430660,0.141578,55.775931,65.802707,0.024876,15.208219
std,37939.129563,0.0,12.180621,0.313441,0.274194,26.521060,9.259292,0.018636,10.871812
min,0.000000,1103.0,0.200000,0.000000,0.000000,1.000000,37.700000,0.000000,0.000000
25%,32855.500000,1103.0,8.800000,0.200000,0.000000,32.000000,59.600000,0.007000,9.000000
50%,65711.000000,1103.0,16.000000,0.300000,0.000000,59.000000,66.800000,0.024000,13.000000
75%,98566.500000,1103.0,27.262500,0.511000,0.200000,80.000000,70.500000,0.038000,19.000000
max,131422.000000,1103.0,80.600000,3.400000,13.400000,100.000000,110.600000,0.185000,541.000000

In [25]:
df1201.describe()

,Unnamed: 0,AQS_Code,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement
count,65712.000000,65712.0,65712.00000,65712.000000,65712.000000,52332.000000,65712.000000,65712.000000,65712.000000
mean,65712.000000,1201.0,11.95104,0.428380,0.150854,55.779313,66.078211,0.033669,14.610299
std,37939.129563,0.0,9.60330,0.312016,0.288035,26.537391,10.755264,0.021195,10.644348
min,1.000000,1201.0,0.00000,0.000000,0.000000,1.000000,33.800000,0.000000,0.000000
25%,32856.500000,1201.0,4.60000,0.200000,0.000000,32.000000,59.200000,0.017000,8.400000
50%,65712.000000,1201.0,8.50000,0.300000,0.000000,59.000000,67.000000,0.034000,12.900000
75%,98567.500000,1201.0,17.50000,0.506000,0.200000,80.000000,71.500000,0.046000,19.000000
max,131423.000000,1201.0,72.50000,2.900000,17.900000,100.000000,117.500000,0.142000,995.600000

# Removing Outliers

In [113]:
def detect_outliers_iqr(df, column_name):
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column_name] < lower_bound) | (df[column_name] > upper_bound)]
    num_outliers = outliers.shape[0]
    
    return lower_bound, upper_bound, num_outliers, outliers


def outlier_processing(data, column_name):
    # Make a copy of the DataFrame to avoid modifying the original
    data_copy = data.copy()
    
    # Convert index to DatetimeIndex if it's not already
    if not isinstance(data_copy.index, pd.DatetimeIndex):
        try:
            data_copy.index = pd.to_datetime(data_copy.index)
        except ValueError:
            raise ValueError("Index cannot be converted to DatetimeIndex")

    # Detect outliers using IQR method
    lower_bound, upper_bound, num_outliers, outliers = detect_outliers_iqr(data_copy, column_name)
    
    # Iterate through each outlier
    for idx in outliers.index:
        current_index = idx
        # Check next hour data
        next_index = current_index + pd.Timedelta(hours=1)
        prev_year_index = current_index - pd.DateOffset(years=1)
        next_year_index = current_index + pd.DateOffset(years=1)
        similar_time = data_copy[(data_copy.index.month == next_year_index.month) & (data_copy.index.day == next_year_index.day) & (data_copy.index.hour == next_year_index.hour)]
        
        if next_index in data_copy.index and data_copy.at[next_index, column_name] not in outliers[column_name].values:
            data_copy.at[current_index, column_name] = data_copy.at[next_index, column_name]
        # Check previous hour data
        elif prev_year_index in data_copy.index and data_copy.at[prev_year_index, column_name] not in outliers[column_name].values:
            data_copy.at[current_index, column_name] = data_copy.at[prev_year_index, column_name]
        # Check data from the same time in the previous year     
        elif prev_year_index in data_copy.index and data_copy.at[prev_year_index, column_name] not in outliers[column_name].values:
            data_copy.at[current_index, column_name] = data_copy.at[prev_year_index, column_name]
        # Check data from a similar time in the next year
        elif not similar_time.empty and similar_time[column_name].values[0] not in outliers[column_name].values:
            data_copy.at[current_index, column_name] = similar_time[column_name].values[0]
        else:
            # If no similar time is found, replace the outlier with the lower or upper bound
            if data_copy.at[current_index, column_name] > upper_bound:
                data_copy.at[current_index, column_name] = upper_bound
            elif data_copy.at[current_index, column_name] < lower_bound:
                data_copy.at[current_index, column_name] = lower_bound

    # Check if the number of outliers is as expected
    print(f'Number of outliers for {column_name} are {num_outliers}')

    return data_copy

In [130]:
def cleaner(data):
    for col in data.columns:
        if col!='datetime' and col!='PM_Measurement':
            print(col)
            data=outlier_processing(data, col)
    return data

In [131]:
df1103_clean=cleaner(df1103)

Unnamed: 0
Number of outliers for Unnamed: 0 are 0
AQS_Code
Number of outliers for AQS_Code are 0
NO2_Measurement

<ipython-input-130-1530dbcf3e06>:5: UserWarning: Discarding nonzero nanoseconds in conversion
  data=outlier_processing(data, col)

Number of outliers for NO2_Measurement are 294
CO_Measurement

<ipython-input-130-1530dbcf3e06>:5: UserWarning: Discarding nonzero nanoseconds in conversion
  data=outlier_processing(data, col)

Number of outliers for CO_Measurement are 4917
SO2_Measurement

<ipython-input-130-1530dbcf3e06>:5: UserWarning: Discarding nonzero nanoseconds in conversion
  data=outlier_processing(data, col)

Number of outliers for SO2_Measurement are 5595
RH_Measurement
Number of outliers for RH_Measurement are 0
Temp_Measurement

<ipython-input-130-1530dbcf3e06>:5: UserWarning: Discarding nonzero nanoseconds in conversion
  data=outlier_processing(data, col)

Number of outliers for Temp_Measurement are 1651
ozone_Measurement

<ipython-input-130-1530dbcf3e06>:5: UserWarning: Discarding nonzero nanoseconds in conversion
  data=outlier_processing(data, col)

Number of outliers for ozone_Measurement are 177

In [132]:
df1103.describe()

,Unnamed: 0,AQS_Code,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement
count,65712.000000,65712.0,65712.000000,65712.000000,65712.000000,52332.000000,65712.000000,65712.000000,65712.000000
mean,65711.000000,1103.0,18.922900,0.430660,0.141578,55.775931,65.802707,0.024876,15.208219
std,37939.129563,0.0,12.180621,0.313441,0.274194,26.521060,9.259292,0.018636,10.871812
min,0.000000,1103.0,0.200000,0.000000,0.000000,1.000000,37.700000,0.000000,0.000000
25%,32855.500000,1103.0,8.800000,0.200000,0.000000,32.000000,59.600000,0.007000,9.000000
50%,65711.000000,1103.0,16.000000,0.300000,0.000000,59.000000,66.800000,0.024000,13.000000
75%,98566.500000,1103.0,27.262500,0.511000,0.200000,80.000000,70.500000,0.038000,19.000000
max,131422.000000,1103.0,80.600000,3.400000,13.400000,100.000000,110.600000,0.185000,541.000000

In [133]:
df1103_clean.describe()

,Unnamed: 0,AQS_Code,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement
count,65712.000000,65712.0,65712.000000,65712.000000,65712.000000,52332.000000,65712.000000,65712.000000,65712.000000
mean,65711.000000,1103.0,18.800214,0.410364,0.114230,55.775931,64.758890,0.024640,15.208219
std,37939.129563,0.0,11.892501,0.254651,0.179195,26.521060,9.015277,0.018289,10.871812
min,0.000000,1103.0,0.200000,0.000000,0.000000,1.000000,43.250000,0.000000,0.000000
25%,32855.500000,1103.0,8.800000,0.200000,0.000000,32.000000,59.000000,0.007000,9.000000
50%,65711.000000,1103.0,16.000000,0.300000,0.000000,59.000000,66.100000,0.024000,13.000000
75%,98566.500000,1103.0,27.262500,0.511000,0.200000,80.000000,69.700000,0.038000,19.000000
max,131422.000000,1103.0,54.950000,0.977500,0.500000,100.000000,86.800000,0.084000,541.000000

In [134]:
df1201_clean=cleaner(df1201)

Unnamed: 0
Number of outliers for Unnamed: 0 are 0
AQS_Code
Number of outliers for AQS_Code are 0
NO2_Measurement

<ipython-input-130-1530dbcf3e06>:5: UserWarning: Discarding nonzero nanoseconds in conversion
  data=outlier_processing(data, col)

Number of outliers for NO2_Measurement are 1257
CO_Measurement

<ipython-input-130-1530dbcf3e06>:5: UserWarning: Discarding nonzero nanoseconds in conversion
  data=outlier_processing(data, col)

Number of outliers for CO_Measurement are 4881
SO2_Measurement

<ipython-input-130-1530dbcf3e06>:5: UserWarning: Discarding nonzero nanoseconds in conversion
  data=outlier_processing(data, col)

Number of outliers for SO2_Measurement are 5375
RH_Measurement
Number of outliers for RH_Measurement are 0
Temp_Measurement

<ipython-input-130-1530dbcf3e06>:5: UserWarning: Discarding nonzero nanoseconds in conversion
  data=outlier_processing(data, col)

Number of outliers for Temp_Measurement are 2078
ozone_Measurement

<ipython-input-130-1530dbcf3e06>:5: UserWarning: Discarding nonzero nanoseconds in conversion
  data=outlier_processing(data, col)

Number of outliers for ozone_Measurement are 791

In [135]:
df1201.describe()

,Unnamed: 0,AQS_Code,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement
count,65712.000000,65712.0,65712.00000,65712.000000,65712.000000,52332.000000,65712.000000,65712.000000,65712.000000
mean,65712.000000,1201.0,11.95104,0.428380,0.150854,55.779313,66.078211,0.033669,14.610299
std,37939.129563,0.0,9.60330,0.312016,0.288035,26.537391,10.755264,0.021195,10.644348
min,1.000000,1201.0,0.00000,0.000000,0.000000,1.000000,33.800000,0.000000,0.000000
25%,32856.500000,1201.0,4.60000,0.200000,0.000000,32.000000,59.200000,0.017000,8.400000
50%,65712.000000,1201.0,8.50000,0.300000,0.000000,59.000000,67.000000,0.034000,12.900000
75%,98567.500000,1201.0,17.50000,0.506000,0.200000,80.000000,71.500000,0.046000,19.000000
max,131423.000000,1201.0,72.50000,2.900000,17.900000,100.000000,117.500000,0.142000,995.600000

In [136]:
df1201_clean.describe()

,Unnamed: 0,AQS_Code,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement
count,65712.000000,65712.0,65712.000000,65712.000000,65712.000000,52332.000000,65712.000000,65712.000000,65712.000000
mean,65712.000000,1201.0,11.832289,0.407525,0.081691,55.779313,64.623784,0.032572,14.610299
std,37939.129563,0.0,9.241523,0.251722,0.143587,26.537391,10.326605,0.019980,10.644348
min,1.000000,1201.0,0.000000,0.000000,0.000000,1.000000,40.800000,0.000000,0.000000
25%,32856.500000,1201.0,4.600000,0.200000,0.000000,32.000000,58.300000,0.015000,8.400000
50%,65712.000000,1201.0,8.500000,0.300000,0.000000,59.000000,66.100000,0.034000,12.900000
75%,98567.500000,1201.0,17.500000,0.506000,0.100000,80.000000,70.300000,0.046000,19.000000
max,131423.000000,1201.0,36.800000,0.965000,0.500000,100.000000,89.900000,0.089000,995.600000

In [ ]:
# Saving
df1103_clean.to_csv('data/df1103_clean.csv')
df1201_clean.to_csv('data/df1201_clean.csv')

# Scaling

In [13]:
# Reads in the data from the csv file
df1103 = pd.read_csv('data/df1103_clean.csv')
df1201 = pd.read_csv('data/df1201_clean.csv')
df1103['datetime'] = pd.to_datetime(df1103['datetime'])
df1201['datetime'] = pd.to_datetime(df1201['datetime'])

In [14]:
df1103.drop(columns=['Unnamed: 0','Unnamed: 0.1'], inplace=True)
df1201.drop(columns=['Unnamed: 0','Unnamed: 0.1'], inplace=True)

In [15]:
from sklearn.preprocessing import MinMaxScaler
import joblib

def scale_data(df, columns_to_scale, scaler_filename):
    # Select columns to scale
    df_to_scale = df[columns_to_scale]

    # Initialize MinMaxScaler
    scaler = StandardScaler() 

    # Fit the scaler on the data and transform it
    scaled_data = scaler.fit_transform(df_to_scale)

    # Convert the scaled data back to a DataFrame
    scaled_df = pd.DataFrame(scaled_data, columns=columns_to_scale, index=df_to_scale.index)

    # Concatenate the scaled data with the remaining columns
    remaining_columns = df.drop(columns=columns_to_scale)
    scaled_df_with_remaining = pd.concat([scaled_df, remaining_columns], axis=1)

    # Save the scaler for future use
    joblib.dump(scaler, scaler_filename)

    return scaled_df_with_remaining

# Define columns to scale
columns_to_scale = ['NO2_Measurement', 'CO_Measurement', 'SO2_Measurement', 'RH_Measurement', 'Temp_Measurement', 'ozone_Measurement', 'PM_Measurement']

# Scale and save data for df1103
scaled_df1103 = scale_data(df1103, columns_to_scale, 'scaler_df1103.pkl')

# Scale and save data for df1201
scaled_df1201 = scale_data(df1201, columns_to_scale, 'scaler_df1201.pkl')

In [17]:
scaled_df1103.describe()

,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement,AQS_Code
count,65712.000000,65712.000000,65712.000000,52332.000000,65712.000000,65712.000000,65712.000000,65712.0
mean,0.339730,0.419810,0.228461,0.553292,0.493890,0.293329,0.028111,1103.0
std,0.217215,0.260513,0.358391,0.267889,0.207010,0.217727,0.020096,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1103.0
25%,0.157078,0.204604,0.000000,0.313131,0.361653,0.083333,0.016636,1103.0
50%,0.288584,0.306905,0.000000,0.585859,0.524684,0.285714,0.024030,1103.0
75%,0.494292,0.522762,0.400000,0.797980,0.607348,0.452381,0.035120,1103.0
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1103.0

In [18]:
scaled_df1201.describe()

,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement,AQS_Code
count,65712.000000,65712.000000,65712.000000,52332.000000,65712.000000,65712.000000,65712.000000,65712.0
mean,0.321530,0.422306,0.163383,0.553326,0.485209,0.365978,0.014675,1201.0
std,0.251128,0.260851,0.287174,0.268054,0.210318,0.224493,0.010691,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1201.0
25%,0.125000,0.207254,0.000000,0.313131,0.356415,0.168539,0.008437,1201.0
50%,0.230978,0.310881,0.000000,0.585859,0.515275,0.382022,0.012957,1201.0
75%,0.475543,0.524352,0.200000,0.797980,0.600815,0.516854,0.019084,1201.0
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1201.0

In [19]:
# Saving
scaled_df1103.to_csv('data/df1103_scaled.csv')
scaled_df1201.to_csv('data/df1201_scaled.csv')

In [20]:
import pandas as pd 
scaled_df1103 = pd.read_csv('data/df1103_scaled.csv')

In [21]:
scaled_df1103

,Unnamed: 0,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement,datetime,AQS_Code
0,0,0.597260,1.000000,1.0,0.484848,0.00000,0.083333,0.085028,2015-01-01 08:00:00,1103
1,1,0.584475,1.000000,0.0,0.545455,0.00000,0.083333,0.109057,2015-01-01 09:00:00,1103
2,2,0.557078,0.901279,0.6,0.555556,0.00000,0.071429,0.121996,2015-01-01 10:00:00,1103
3,3,0.571689,0.505371,0.0,0.464646,0.00000,0.095238,0.099815,2015-01-01 11:00:00,1103
4,4,0.555251,0.317647,0.2,0.393939,0.00000,0.071429,0.092421,2015-01-01 12:00:00,1103
...,...,...,...,...,...,...,...,...,...,...
65707,65707,0.121461,0.204604,0.0,0.171717,0.54535,0.380952,0.024954,2022-07-01 03:00:00,1103
65708,65708,0.141553,0.204604,0.0,0.171717,0.54535,0.345238,0.024399,2022-07-01 04:00:00,1103
65709,65709,0.149772,0.204604,0.0,0.171717,0.54535,0.309524,0.021811,2022-07-01 05:00:00,1103
65710,65710,0.214612,0.306905,0.0,0.171717,0.54535,0.250000,0.024399,2022-07-01 06:00:00,1103
65711,65711,0.201826,0.306905,0.4,0.171717,0.54535,0.250000,0.025323,2022-07-01 07:00:00,1103