#### Library

In [1]:
import pandas as pd

#### Import Data and Set Parameter

In [2]:
df = pd.read_csv("complete_data_sorted.csv")
particle = 'CO_Measurement'

#### Functions

In [3]:
def create_particle_df(df, target):
    temp = df[df[target].notnull() | df['PM_Measurement'].notnull()]
    col = ['Year', 'Date', 'Time', 'AQS_Code', 'Method Name', target, 'PM_Measurement']
    target_pm = temp[col].copy()
    
    target_pm['datetime'] = pd.to_datetime(target_pm['Date'] + ' ' + target_pm['Time'])
    target_pm.set_index('datetime', inplace=True)
    result = target_pm.drop(['Year','Date', 'Time'], axis=1)

    return result

def method_count_per_particle(df):
    temp = df.drop(['PM_Measurement'], axis=1)
    temp = temp.dropna()
    
    print(temp['Method Name'].value_counts())

#### Get DataFrame where PM OR Particle is not null

In [4]:
a = create_particle_df(df, particle)
a

,AQS_Code,Method Name,CO_Measurement,PM_Measurement
datetime,,,,
2015-01-01 08:00:00,1103,INSTRUMENTAL - NONDISPERSIVE INFRARED PHOTOMETRY,1.300,NaN
2015-01-01 08:00:00,1103,INSTRUMENTAL - Gas Filter Correlation Teledyne...,1.024,NaN
2015-01-01 08:00:00,1103,Met-one BAM-1020 W/PM2.5 SCC - Beta Attenuation,NaN,46.0
2015-01-01 08:00:00,1201,INSTRUMENTAL - NONDISPERSIVE INFRARED PHOTOMETRY,1.800,NaN
2015-01-01 08:00:00,1201,Met-One BAM-1020 W/PM2.5 SCC - Beta Attenuation,NaN,95.0
...,...,...,...,...
2022-07-01 07:00:00,1103,Met-one BAM-1020 W/PM2.5 SCC - Beta Attenuation,NaN,13.7
2022-07-01 07:00:00,1201,INSTRUMENTAL - NONDISPERSIVE INFRARED PHOTOMETRY,0.300,NaN
2022-07-01 07:00:00,1201,Met-One BAM-1020 W/PM2.5 SCC - Beta Attenuation,NaN,15.4
2022-07-01 07:00:00,1602,INSTRUMENTAL - NONDISPERSIVE INFRARED PHOTOMETRY,0.200,NaN
2022-07-01 07:00:00,2005,INSTRUMENTAL - NONDISPERSIVE INFRARED PHOTOMETRY,0.300,NaN

#### Given particle, get number of occurances per method

In [5]:
method_count_per_particle(a)

INSTRUMENTAL - NONDISPERSIVE INFRARED PHOTOMETRY                 253921
INSTRUMENTAL - Gas Filter Correlation Teledyne API 300 EU         32775
INSTRUMENTAL - Gas Filter Correlation Thermo Electron 48i-TLE     11409
Name: Method Name, dtype: int64

In [6]:
a[a['Method Name']=='INSTRUMENTAL - NONDISPERSIVE INFRARED PHOTOMETRY'].describe()

            AQS_Code  CO_Measurement  PM_Measurement
count  253921.000000   253921.000000             0.0
mean     1477.994931        0.404660             NaN
std       357.827257        0.288723             NaN
min      1103.000000       -0.400000             NaN
25%      1103.000000        0.200000             NaN
50%      1201.000000        0.300000             NaN
75%      2005.000000        0.500000             NaN
max      2005.000000        3.400000             NaN

In [7]:
a[a['Method Name']=='INSTRUMENTAL - Gas Filter Correlation Teledyne API 300 EU'].describe()

       AQS_Code  CO_Measurement  PM_Measurement
count   32775.0    32775.000000             0.0
mean     1103.0        0.393937             NaN
std         0.0        0.274503             NaN
min      1103.0        0.000000             NaN
25%      1103.0        0.202000             NaN
50%      1103.0        0.293000             NaN
75%      1103.0        0.495000             NaN
max      1103.0        2.000000             NaN

In [8]:
a[a['Method Name']=='INSTRUMENTAL - Gas Filter Correlation Thermo Electron 48i-TLE'].describe()

       AQS_Code  CO_Measurement  PM_Measurement
count   11409.0    11409.000000             0.0
mean     1103.0        0.416195             NaN
std         0.0        0.261316             NaN
min      1103.0       -0.046000             NaN
25%      1103.0        0.231000             NaN
50%      1103.0        0.320000             NaN
75%      1103.0        0.523000             NaN
max      1103.0        1.922000             NaN

In [9]:
a_1103=a.loc[a['AQS_Code']==1103]

In [10]:
aggregation_functions = {'CO_Measurement': 'mean', 'PM_Measurement':'mean'}
a_1103_new = a_1103.groupby(a_1103.index).aggregate(aggregation_functions)

In [11]:
a_1103_new

                     CO_Measurement  PM_Measurement
datetime
2015-01-01 08:00:00          1.1620            46.0
2015-01-01 09:00:00          1.3475            59.0
2015-01-01 10:00:00          1.2735            66.0
2015-01-01 11:00:00             NaN            54.0
2015-01-01 12:00:00          0.8810            50.0
...                             ...             ...
2022-07-01 03:00:00          0.2650            13.5
2022-07-01 04:00:00          0.2835            13.2
2022-07-01 05:00:00          0.2735            11.8
2022-07-01 06:00:00          0.2900            13.2
2022-07-01 07:00:00          0.2965            13.7

[65579 rows x 2 columns]

In [12]:
a_1103_new.index.min()

Timestamp('2015-01-01 08:00:00')

In [13]:
a_1103_new.index.max()

Timestamp('2022-07-01 07:00:00')

In [28]:
##Finding the missing number of Timestamps
expected = set(pd.date_range('2015-01-01 08:00:00', '2022-07-01 07:00:00', freq="H"))
actual = set(a_1103_new.index.tolist())
diff = expected.difference(actual)
print(len(diff))

0

In [15]:
#Resampling them
a_1103_new = a_1103_new.resample('1H', ).asfreq()

In [30]:
a_1103_new['CO_Measurement'].isna().sum()

0

In [17]:
a_1103_new=a_1103_new.ffill(axis = 0) #Forward Rolling

In [18]:
a_1103_new ['AQS_Code']=1103

In [19]:
a_1201=a.loc[a['AQS_Code']==1201]
a_1201_new = a_1201.groupby(a_1201.index).aggregate(aggregation_functions)

In [20]:
a_1201_new.index.min()

Timestamp('2015-01-01 08:00:00')

In [21]:
a_1201_new.index.max()

Timestamp('2022-07-01 07:00:00')

In [29]:
expected = set(pd.date_range('2015-01-01 08:00:00', '2022-07-01 07:00:00', freq="H"))
actual = set(a_1201_new.index.tolist())
diff = expected.difference(actual)
print(len(diff))

0

In [ ]:
expected = set(pd.date_range('2015-01-01 08:00:00', '2022-07-01 07:00:00', freq="H"))
actual = set(a_1201_new.index.tolist())
diff = expected.difference(actual)
print(len(diff))

0

In [23]:
#Resampling them
a_1201_new = a_1201_new.resample('1H').asfreq()

In [24]:
a_1201_new=a_1201_new.ffill(axis = 0)

In [25]:
a_1201_new ['AQS_Code']=1201

In [26]:
CO=a_1103_new.append(a_1201_new)

In [27]:
CO

                     CO_Measurement  PM_Measurement  AQS_Code
datetime
2015-01-01 08:00:00          1.1620            46.0      1103
2015-01-01 09:00:00          1.3475            59.0      1103
2015-01-01 10:00:00          1.2735            66.0      1103
2015-01-01 11:00:00          1.2735            54.0      1103
2015-01-01 12:00:00          0.8810            50.0      1103
...                             ...             ...       ...
2022-07-01 03:00:00          0.2000            11.2      1201
2022-07-01 04:00:00          0.3000            13.0      1201
2022-07-01 05:00:00          0.3000            15.4      1201
2022-07-01 06:00:00          0.3000            15.9      1201
2022-07-01 07:00:00          0.3000            15.4      1201

[131424 rows x 3 columns]

In [31]:
CO.to_csv('CO.csv')